@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-container" style="text-align: center; margin-top: 25px;">
    <h1 style="font-size: 2.5em;">Khadilkar Vidula MD</h1>
    <p style="font-size: 1.75em;">Welcome to <strong style="color: coral; font-family: 'Yomogi', serif;">Pediatrics R US</strong>!</p>
    <p style="font-size: 1.1em; ">
        <strong style="font-family: 'Yomogi', serif; color: coral;">Address:</strong> 18660 Bagley Rd, Middleburg Heights, OH 44130<br>
        <strong style="font-family: 'Yomogi', serif; color: coral;">Phone:</strong> (440)888-1500<br>
        <strong style="font-family: 'Yomogi', serif; color: coral;">Hours:</strong> M - F 9:00 AM - 5:00 PM
    </p>
</div>

<div class="text-center appointment-button" style="margin-top: 20px; margin-bottom: 25px;">
    <!-- Google Calendar Appointment Scheduling begin -->
    <link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
    <script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
    <script>
        (function() {
            var target = document.currentScript;

            function loadSchedulingButton() {
                calendar.schedulingButton.load({
                    url: 'https://calendar.google.com/calendar/appointments/AcZssZ09ezJqHXFmzbKjGDH_047J4EaCDt0zbN2rBuw=?gv=true',
                    color: '#F4511E',
                    label: 'Book an appointment',
                    target
            });
          }

          window.addEventListener('load', function() {
            loadSchedulingButton();

            setInterval(function() {
              target.innerHTML = ""; // Clear previous button
            }, 100); // Adjust the time if needed
          });
        })();
    </script>
    <!-- end Google Calendar Appointment Scheduling -->
</div>

<div class="office-locations-container">
    <h2 class="locations-title">Office Locations</h2>

    <div class="locations">
        <div class="location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5988.11452792179!2d-81.83475798884626!3d41.37284057118198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8830eeb484fbfadd%3A0x19c3ebb3f0feda32!2sPediatrics%20R%20US%3A%20Khadilkar%20Vidula%20MD!5e0!3m2!1sen!2sus!4v1738605100497!5m2!1sen!2sus"
                    width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2989.3794854957496!2d-81.66371082355677!3d41.47437189059454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8830fac39f95b815%3A0x9f3ce331bff662fa!2s3100%20E%2045th%20St%20%23504%2C%20Cleveland%2C%20OH%2044127!5e0!3m2!1sen!2sus!4v1738871582199!5m2!1sen!2sus"
                    width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>




