@{
    ViewData["Title"] = "About Us";
}
<h1 style="text-align: center; margin-top: 50px; margin-bottom: 20px;"><strong>@ViewData["Title"]</strong></h1>

<div class="about-container" style="text-align: center;">
    <p>
        At <strong>Pediatrics R Us</strong>, we are dedicated to providing compassionate and high-quality pediatric care for children of all ages. Led by <strong>Dr. Vidula Khadilkar, MD</strong>, a highly experienced pediatrician with over <strong>40 years</strong> in the medical field, our practice is committed to ensuring the health and well-being of every child.
    </p>
    <p>
        Dr. Khadilkar earned her medical degree from <strong>BJ Medical College, Pune, Maharashtra University of Health Sciences</strong> in 1984. She is affiliated with <strong>Southwest General Health Center</strong> and
        <strong>Marymount Hospital</strong>, bringing her expertise and dedication to families across Cleveland, OH.
    </p>
    <p>
        We welcome <strong>new patients</strong> and offer <strong>telehealth appointments</strong>, providing flexible and accessible care for busy families. Whether it's routine check-ups, vaccinations, or specialized pediatric consultations, our team is here to support your child's health every step of the way.
    </p>
</div>
<br />
@* <hr /> *@
<div>
    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-1fd403bb-cb21-4a3a-bc88-dba93948cb65" data-elfsight-app-lazy></div>
</div>
